@font-face {
    font-family: titles-font;
    src: url(./titles-font.otf)  format("opentype");
}
@font-face {
    font-family: subtitles-font;
    src: url(./enagol.ttf)
}

body {
  background-image: url("background4.jpeg");
}

.super-title {
  text-align: center;
  font-size: 500%;
  margin: 8%;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.hash {
  height: 20%;
}

.zona-title {
  color: #140a47;
  font-weight: 100;
}

.wiki-title {
  color: #140a47;
  font-weight: bold;
}

.interview-section {
  font-family: subtitles-font;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.principal-text {
  width: 30%;
}

.principal-text h3 {
  display: flex;
  justify-content: center;
}

.principal-text p {
  text-align: justify;
  font-family: cursive;
  font-style: italic;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  font-family: titles-font;
  font-size: 250%;
  letter-spacing: 3px;
}

.main-image {
  position: absolute;
  height: 95%;
  display: flex;
  justify-content: center;
  z-index: -1;
}


