@font-face {
    font-family: titles-font;
    src: url(./titles-font.otf)  format("opentype");
}
.super-title {
  text-align: center;
  font-size: 500%;
  margin: 8%;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.hash {
  height: 20%;
}

.zona-title {
  color: #140a47;
  font-weight: 100;
}

.wiki-title {
  color: #140a47;
  font-weight: bold;
}

.interview-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.principal-text {
  width: 30%;
}

h1.principal-text {
  text-align: center;
}

p.principal-text {
  text-align: justify;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  font-family: titles-font;
  font-size: 250%;
  letter-spacing: 3px;
}

.main-image {
  position: absolute;
  height: 90%;
  display: flex;
  justify-content: center;
  z-index: -1;
}


