@font-face {
    font-family: titles-font;
    src: url(./../fonts/titles-font.otf)  format("opentype");
}
@font-face {
    font-family: subtitles-font;
    src: url(./../fonts/enagol.ttf)
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.full-magazine {
  display: flex;
  justify-content: center;
  background: #fff7fe;
  height: 1220px;
}

.big-border {
  height: 1210px;
  width: 1000px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
  background-image: url("./../images/background.png");
  overflow: hidden;
}

.super-title {
  text-align: center;
  font-size: 500%;
  margin: 3%;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.logo {
  width: 70%
}

.zona-title {
  color: #140a47;
  font-weight: 100;
}

.wiki-title {
  color: #140a47;
  font-weight: bold;
}

.interview-section {
  font-family: subtitles-font;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3%;
}

.principal-text {
  width: 40%;
}

.principal-text h3 {
  display: flex;
  justify-content: center;
}

.principal-text p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  font-family: titles-font;
  font-size: 250%;
  letter-spacing: 3px;
  padding-right: 6%;
}

.main-image {
  position: absolute;
  left: -90px;
}
